name: Generate Snake Animation

on:
  # Run automatically every 24 hours
  schedule:
    - cron: "0 0 * * *"
  
  # Allow manual trigger
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    
    steps:
      # Generate the snake animation
      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: Fawez-11
          outputs: |
            dist/github-snake-dark.svg?palette=github-dark
            dist/github-snake.svg?palette=github-light
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      # Push the generated files to the output branch
      - name: Push changes
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          build_dir: dist
          target_branch: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
